<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Eanmble Sportstats home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/shards.min.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
<div class="">
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="...">
                </a>
                <h1 class="navbar-text">EANMBLESP.com</h1>
            </div>
        </div>
    </nav>
    <header>
        <h2>
            soccer
        </h2>
        <hr>
    </header>
    <section class="container-fluid" id="main-stats">
        <div class="main">
            <ol class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link " href="#">today</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">today</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">today</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">today</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">today</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">today</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">today</a>
                </li>
            </ol>

            <nav class="side-navigation">
                <ol>
                    <li><a href=""> over 25</a></li>
                    <li><a href=""> under 25</a></li>
                    <li><a href=""> bts yes</a></li>
                    <li><a href=""> bts no</a></li>
                    <li><a href=""> 1x2 streak</a></li>
                </ol>
            </nav>
            <div class="display-filter">
                <a class="active" href="">kickoff</a>
                <a href="">league name</a>
            </div>
            <div class="data-table">
                <table>
                    <thead class="date">
                    <tr>
                        <td colspan="4">date</td>
                    </tr>
                    </thead>
                    <thead class="breadcrumps">
                    <tr>
                        <td colspan="4">soccer > country > league</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    </tbody>
                    <thead class="breadcrumps">
                    <tr>
                        <td colspan="4">soccer > country > league</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    </tbody>
                    <thead class="breadcrumps">
                    <tr>
                        <td colspan="4">soccer > country > league</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    </tbody>
                    <thead class="breadcrumps">
                    <tr>
                        <td colspan="4">soccer > country > league</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    </tbody>
                    <thead class="breadcrumps">
                    <tr>
                        <td colspan="4">soccer > country > league</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    </tbody>
                    <thead class="breadcrumps">
                    <tr>
                        <td colspan="4">soccer > country > league</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    </tbody>
                    <thead class="breadcrumps">
                    <tr>
                        <td colspan="4">soccer > country > league</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    </tbody>
                    <thead class="breadcrumps">
                    <tr>
                        <td colspan="4">soccer > country > league</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    </tbody>
                    <thead class="breadcrumps">
                    <tr>
                        <td colspan="4">soccer > country > league</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    </tbody>
                    <thead class="breadcrumps">
                    <tr>
                        <td colspan="4">soccer > country > league</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    </tbody>
                    <thead class="breadcrumps">
                    <tr>
                        <td colspan="4">soccer > country > league</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>time</td>
                        <td>home-team</td>
                        <td> -</td>
                        <td>away-team</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <aside>
            <section class="subscribe">
                <h3>
                    Subscribe to receive tips straight in your email
                </h3>

                <p>
                    Leave your email with us to receive real time prediction tips at no charge at all,
                    <em>your email will not be esposed to any third parties</em>
                </p>

                <form>
                    <input class="email" type="text" placeholder="email@domain.com">
                    <input class="submit" type="button" value="submit">
                </form>
            </section>

            <hr>
            <section class="top-teams">
                <h3>
                    top over 25 teams
                </h3>

                <ol>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                </ol>

            </section>
            <section class="top-teams">
                <h3>
                    top unser 25 teams
                </h3>

                <ol>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                </ol>

            </section>
            <section class="top-teams">
                <h3>
                    top bts yes teams
                </h3>

                <ol>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                </ol>

            </section>
            <section class="top-teams">
                <h3>
                    top bts no teams
                </h3>

                <ol>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                </ol>

            </section>
            <section class="top-teams">
                <h3>
                    top winning teams
                </h3>

                <ol>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                </ol>

            </section>
            <section class="top-teams">
                <h3>
                    top losing teams
                </h3>

                <ol>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                </ol>

            </section>
            <section class="top-teams">
                <h3>
                    top drawing teams
                </h3>

                <ol>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                    <li>country>league><em>team name</em></li>
                </ol>

            </section>
        </aside>
    </section>

    <footer>
        <section class="footer-section">
            <h6>What we do</h6>
            <p>
                Nothing at the moment
            </p>
            <ol>
                <li><a href="">Terms of use</a></li>
                <br>
                <li><a href="">privacy policy</a></li>
            </ol>
        </section>
        <section class="footer-section">
            <h6>
                contact
            </h6>
        </section>
        <section class="footer-section">
            <h6>
                disclaimer
            </h6>
        </section>

        <hr>
        <section class="copyright"> copyright</section>
    </footer>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>